.welcome-content {
  --background: #e7fbb4;
}

.welcome {
  background-color: #e7fbb4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 60px 25px 25px;
}

.welcome .app-title {
  color: #cd5c08;
  font-family: "Holtwood One SC-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 60px;
}

.welcome .get-started-button {
  --background: #508d4e;
  --background-hover: #4a7d47;
  --background-activated: #3f6a3d;
  --border-radius: 15px;
  --color: #1e1e1e;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  height: 56px;
  margin-top: 60px;
  width: 100%;
  max-width: 343px;
}

.status-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  padding: 0 12px;
  background-color: transparent;
  z-index: 1000;
}

.iphone-x-status-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.status-icons-group {
  display: flex;
  align-items: center;
  gap: 6px;
}

.battery {
  position: relative;
  width: 25px;
  height: 11px;
  display: flex;
  align-items: center;
}

.border {
  border: 1px solid;
  border-color: #000000;
  border-radius: 2.67px;
  height: 11px;
  width: 22px;
  opacity: 0.35;
  position: absolute;
  left: 0;
}

.cap {
  position: absolute;
  right: 0;
  width: 1.5px;
  height: 4px;
}

.capacity {
  background-color: #000000;
  border-radius: 1.33px;
  height: 7px;
  width: 18px;
  position: absolute;
  left: 2px;
}

.wifi {
  width: 15.27px;
  height: 11px;
}

.cellular-connection {
  width: 17px;
  height: 11px;
}

.time-style {
  display: flex;
  align-items: center;
}

.time {
  color: #000000;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.28px;
  line-height: normal;
}

.welcome .pizza {
  height: 242px;
  width: 242px;
  object-fit: cover;
  display: block;
}